body {
	background-color: #597FA1;
	font-family: verdana;
	letter-spacing: -.10em;
	font-size: 90%;
}

p {

}

.round {
	border-radius: 10px;
}

.holder {
	width: 600px;
	margin: auto;
	margin-top: 100px;
	border: 1px solid #000;
	background-color: #FFF;
	padding: 20px;
}

/*HEADER MENU*/

.menu {
	float: right;
}

.menu {
	border: 1px solid #8ED1CA;
	background-color: #E6FAF8;
	color: #FFF;
	padding: 5px;
	white-space: nowrap;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	padding: 5px;
}

.menu ul li a:link {
	color: #09c;
	text-decoration: none;
}

.menu ul li a:hover {
	text-decoration: underline;
	color: red	;
}

.menu ul li a:visited {
	color: #09c;
}

/*FOOTER MENU*/

.footer .menu {
	float: none;
}

.footer .menu {
	border: none;
	text-align: center;
	background-color: #FFF;
	white-space: nowrap;
}

.footer .menu ul {
	margin: 0;
	padding: 0;
}

.footer .menu ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	padding: 0px;
}

.footer .menu ul li a:link {
	color: #09c;
	text-decoration: none;
}

.footer .menu ul li a:hover {
	text-decoration: underline;
	color: red	;
}

.footer .menu ul li a:visited {
	color: #09c;
}


/*SIGNUP PAGE & BUTTON*/

.field {
	padding: 5px;
/*	background: red;*/
	margin-top: 5px;
}

.actions {
/*	background: blue;*/
	margin-top: 5px;
}

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 200px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: green;
	text-decoration: none;
}

a:hover.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 200px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: red;
}

.footer {
	width: 600px;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #8ED1CA;
	background-color: #FFF;
	padding: 20px;
	float: none;
}

/* USER SHOW PAGE  */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 60%;
  padding: 1em;
}

td.sidebar {
  width: 40%;
  padding: 1em;
  vertical-align: top;
  background: #FFF5C2;
	border: 1px solid #8ED1CA;
}

/* ERROR MESSAGES*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #D66060;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid #D66060;
	border-radius: 5px;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #E0BCBC;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #D66060;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* FLASH MESSAGES*/

.flash {
	padding: 5px;
	margin-bottom: 20px;
}

.success {
	border: 1px solid #C0CEC2;
	background-color: #EDF5EE;
}

.failure {
	border: 1px solid #D66060;
	background-color: #E0BCBC;
}

.notice {
	border: 1px solid #EBC35E;
	background-color: #EBE4C4;
}

ul.users {
	padding: 0;
	margin: 0;
}

ul.users li {
	margin-top: 1em;
	list-style: none;
}

ul.users li a:link {
	text-decoration: none;
	color: #09c;
}

ul.users li a:hover {
	text-decoration: underline;
	color: #09c;
}

ul.users li a:visited {
	text-decoration: none;
	color: #09c;
}

table.microposts {
	margin-top: 1em;
}

table.microposts tr {
	height: 70px;
	vertical-align: top;
}

table.microposts tr td.micropost {
	border-top: 1px solid #CCC;
}

table.microposts tr td.micropost span.timestamp {
	display: block;
	font-size: 80%;
	color: #575757;
	padding-top: .5	em;
}

form.new_micropost textarea {
	height: 5em;
	margin-bottom: none;
	resize: none;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {

}

div.user_info span.microposts {
  font-size: 80%;
	display: block;
}


/*h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
*/